.article {
	font-family: KaiTi;
	font-size: 1.1rem;
	line-height: 1.5;
}

.article table {
	width: 100%;
	text-align: center;
}

.article table td, .article table th {
	border: 1px solid;
}

.article :not(pre) code {
	font-family: sans-serif;
	color: #ff9c4a;
}

.article > p {
	text-indent: 2em;
	line-height: 1.5;
}

.article blockquote {
	padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

.article a {
	color: #069;
	text-decoration: none;
}